@import url('https://fonts.googleapis.com/css?family=Averia Gruesa Libre');
@import url('https://fonts.googleapis.com/css?family=Oleo Script Swash Caps');
*{
    font-family: 'Averia Gruesa Libre';
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
 }

 html{
   font-size: 62.5%;
   overflow-x: hidden;
}

section{
   padding:30px 20px;
} 
.logi{
    font-size: 20px;
    text-align: right;
    padding: 10px; 
    background-color:#00241f;
}
.logi .media{
    text-align: left;
}
.logi a{
   
    padding: 5px;
    border-radius: 10px;
    border:5px solid #00241f;
    color: white;
    width: 10px;
}

.none{
   padding:15px;
   text-align: center;
   border:1px solid blac;
   background-color: #f5f5f5;
   color:red;
   font-size: 20px;
} 
.caption{
   text-align: center;
   text-transform:capitalize;
   font-size: 40px;
   margin-bottom: 20px;
}

.form1{
    height: 900px;
    padding:20px;
    background: url(../images/pi.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
 }
 
 .form1 form{
    padding:20px;
    width: 500px;
    border-radius:30px;
    box-shadow: 5px 10px  rgba(0,0,0,.1);
    border:10px solid #00241f;
    background-color: rgb(179, 189, 179);
    text-align: center;
 }
 
 .form1 form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform:capitalize;
    color:black;
 }
 
 .form1 form .box{
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5;;
    padding:12px 14px;
    font-size: 18px;
    color:black;
    border:1px solid black;
    margin:10px 0;
 }
 
 .form1 form p{
    padding-top: 15px;
    font-size: 20px;
    color:black;
 }
 
 .form1 form p a{
    color:#6F1E51;
    font-weight: bold;
 }
 
 .form1 form p a:hover{
    text-decoration: underline;
 }
 

 
 .header .header-2{
    background-color: white;
    box-shadow:5px 10px rgba(0,0,0,.1);
 }
 
 .header .header-2.active{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
 }
 
 .header .header-2 .flex{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    position: relative;
 }
 

 .header .header-2 .flex .navbar a{
    display: block;
    float :left;
    margin:0 15px;
    font-size: 25px;
    color:rgb(127, 160, 71);
 }
 
 .header .header-2 .flex .navbar a:hover{
    color:#8e44ad;
    text-decoration: underline;
 }
 
 .header .header-2 .flex .icons > *{
    font-size: 30px;
    color:rgb(7, 7, 7);
    cursor: pointer;
    margin-left: 20px;

 }
 
 .header .header-2 .flex .icons > *:hover{
    color:#316638;
 }
 
 #menu-btn{
    display: none;
 }
 
 .header .header-2 .flex .user-box{
    position: absolute;
    top:120%; right:20px;
    background-color: white;
    border-radius: .50px;
    box-shadow: 5px 10px rgba(0,0,0,.1);
    border:.10px solid black;
    padding:20px;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
 }
 
 .header .header-2 .flex .user-box.active{
    display: inline-block;
   
 }

 
 .header .header-2 .flex .user-box p{
    font-size: 25px;
    color:#666;
    margin-bottom: 25px;
 }
 
 .header .header-2 .flex .user-box p span{
    color:#dc2222;
 }
 
 .header .header-2 .flex .user-box .delete-btn{
    margin-top: 0;
 }
 

.winner .box{
   border:3px solid black;
   width: 400px;
   padding: 20px;
   
   margin-bottom: 40px;
   border-radius: 20px;
   background-color:#00241f;
   box-shadow: 15px 10px rgba(0,0,0,.1);
  justify-content: center;
 }
 .winner .box p{
    font-size: 20px;
    text-align: center;
    background-color: rgb(45, 155, 43);
    padding: 20px;
    color: white;
    margin-top: 5px;
 }
 
 .home{
    height: 500px;
    /* background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/studio-ris-natural-office-makeover-3.jpg) no-repeat; */
    background: url(../images/studio-ris-natural-office-makeover-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home .content{
    text-align: center;
    width: 600px;
 }
 
 .home .content h3{
    font-size:50px;
    color:white;
    text-transform: uppercase;
    background-color:#00241f;
    padding: 20px;
    border-radius: 40px 0;
    
 }
 
 .home-contact{
    background-color: black;
 }
 
 .home-contact .content{
    max-width: 600px;
    text-align: center;
    margin:0 auto;
 }
 
 .home-contact .content h3{
    font-size: 30px;
    text-transform: uppercase;
    color:white;
 }
 
 .home-contact .content p{
    padding:10px 0px;
    line-height: 1.5;
    color:#ccc;
    font-size:20px;
    margin-top: 10px;
    padding:10px 30px;
    cursor: pointer;
 }
 
 .dark-btn{
 	background-color: darkgreen;
    display: inline-block;
    margin-top: 10px;
    padding:10px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    text-transform: capitalize;
 }
 
.btn,
 .option-btn,
 .delete-btn, 
 .home-btn{
    display: inline-block;
    margin-top: 10px;
    padding:10px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    text-transform: capitalize;
 }
 .btn{
   background-color:#ffa502;
 }
 .home-btn:hover{
    background-color: lightgray;
    color:black;
 }
 .home-btn{
    background-color: rgb(45, 155, 43);
 }
 .btn:hover,
 .option-btn:hover,
 .delete-btn:hover,
 .add-btn:hover,
 .add-more-btn:hover{
    background-color:#6F1E51;
   
 }

.option-btn{
    background-color:rgb(45, 155, 43);
  
 }
 
 .delete-btn{
    background-color: #eb2f06;
 } 
 .about_us .flex{
    width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .about_us .flex .image{
    flex:400px;
 }
 .about_us .flex .content{
    flex:400px;
    padding:20px;
    background-color: #ccc;
 }
 
 .about_us .flex .content h3{
    font-size: 30px;
    color:black;
    text-transform: uppercase;
 }
 
 .about_us .flex .content p{
    padding:10px 0;
    line-height: 2;
    font-size: 20px;
    color:#666;
 }
 
/* orders page css*/

.heading{
   height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    background: url(../images/studio-ris-natural-office-makeover-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
.heading h3{
   font-size: 60px;
   color:white;
   text-transform: capitalize;
   font-family: 'Oleo Script Swash Caps';
   background-color:#00241f;
   padding: 10px;
}

.heading p{
   font-size: 25px;
   color:#666;
}

.heading p a{
   color:darkgreen;
}

.heading p a:hover{
   text-decoration: underline;
}

 .products .box-container{
   max-width: 1300px;
   margin:0 auto;
   padding: 60px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 280px);
   align-items: flex-start;
   gap:20px;
   justify-content: center;
}

.products .box-container .box{
   background-color: white;
   box-shadow: 0 0 30px 20px rgba(0,0,0,.1);
   border-radius: 20px;
   padding:20px;
   text-align: center;
   position: relative;
}

.products .box-container .box .image{
   height:200px;
   width:250px;
}

.products .box-container .box .name{
   padding:10px 0;
   font-size: 20px;
   color:black;
}

 .qty{
   width: 50%;
   padding:10px 12px;
   border-radius: 10px;
   cursor: pointer;
   border:3px solid black;
   margin:10px 0;
   font-size: 20px;
   text-align: center;
}

.products .box-container .box .price{
   position: absolute;
   top:10px; 
   left:10px;
   border-radius:5px;
   padding:10px;
   font-size: 25px;
   color:white;
   background-color:rgb(45, 155, 43);
}

.add-btn{
   background-color:#eb2f06;
   color: #f5f5f5;
   font-size: 25px;
   cursor: pointer;
   margin-left: 20px;
   padding : 5px 10px;
   margin-top: 10px;
   padding:8px 20px;
   border-radius: 10px;

 }
 .rate-btn{
    display: inline-block;
    margin-top: 10px;
    padding:10px 80px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color:black;
 }
 .products .box-container .box #rate{
    margin-top: 10px;
    margin-left: 40px;
 }
/* cart page */
 

.shopping-cart .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 300px);
   align-items: center;
   gap:15px;
   justify-content: center;
}

.shopping-cart .box-container .box{
   text-align: center;
   padding:20px;
   border-radius: 5px;
   background-color: white;
   box-shadow: 5px 10px rgba(0,0,0,.1);
   position: relative;
   border:3px solid black;
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:10px; right:10px;
   height: 45px;
   width: 45px;
   line-height: 45px;
   font-size: 20px;
   background-color:#eb2f06;
   color:white;
   border-radius: 5px;
}

.shopping-cart .box-container .box .fa-times:hover{
   background-color: black;
}

.shopping-cart .box-container .box img{
   height: 200px;
   width: 100%;
}

.shopping-cart .box-container .box .name{
   padding:10px 0;
   font-size: 20px;
   color:black;
}

.shopping-cart .box-container .box .price{
   padding:10px 0;
   font-size: 25px;
   color:#eb2f06;
}

.shopping-cart .box-container .box input[type="number"]{
   margin:.5px 0;
   border:3px solid black;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 20px;
   color:black;
   width:90px;
}

.shopping-cart .box-container .box .sub-total{
   padding-top: 15px;
   font-size: 20px;
   color:#666;
}

.shopping-cart .box-container .box .sub-total span{
   color:var(--red);
}

.shopping-cart .cart-total{
   max-width: 1200px;
   margin:0 auto;
   
   text-align: center;
   margin-top: 20px;
   border-radius: 5px;
}

.shopping-cart .cart-total p{
   font-size: 25px;
   color:#666;
}

.shopping-cart .cart-total p span{
   color:#eb2f06;
}

.shopping-cart .cart-total .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap:10px;
   margin-top: 15px;
   justify-content: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
}
.add-more{
   margin-top:30px;
   text-align: center;
 
}
.add-more-btn{
   background-color: black;
   border-radius: 5px;
   font-size: 20px;
   color:white;
   padding:10px 30px;
}

/* order now page */
.order{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0;
 }
 
 .order p{
    background-color: #f5f5f5;
    color:black;
    font-size: 20px;
    padding:10px 15px;
    border:1px solid black;
    display: inline-block;
    margin:5px;
 }
 
 .order p span{
    color:#eb2f06;
 }
 
 .order .grand-total{
    margin-top: 20px;
    font-size: 25px;
    color:#666;
 }
 
 .order .grand-total span{
    color:#eb2f06;
 }
 
 .order-details form{
    max-width: 600px;
    padding:20px;
    margin:0 auto;
    border:1px solid black;
    background-color: #f5f5f5;
    border-radius: 5px;
 }
 
 .order-details form h3{
    text-align: center;
    margin-bottom: 20px;
    color:black;
    text-transform: capitalize;
    font-size: 30px;
 }
 
 .order-details form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
 }
 
 .order-details form .flex .inputBox{
    flex:1 1 400px;
 }
 
 .order-details form .flex span{
    font-size: 20px;
    color:black;
 }
 
 .order-details form .flex select,
 .order-details form .flex input{
    border:1px solid black;
    width: 100%;
    border-radius: 5px;
    width: 100%;
    background-color:white;
    padding:12px 14px;
    font-size: 18px;
    margin:10px 0;
 }
 .order-details form p{
   font-size: 15px;
   text-align: center;
   color :#eb2f06;
   font-weight: bold;
 }
 input.check{
    width: 30px;
    height: 30px;
   
}

/* my orders*/
.myorder .myview table,th,td{
    border :3px solid black;
    border-collapse: collapse;
    padding: 20px;
    margin: 10px auto;
    
}
.myorder .myview table tr th{
 border-bottom: 1px solid black;  
}

.myorder .myview th,td{
    text-align: center;
    font-size: 20px;
    border: none;
}
.myorder .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: lightgray;
}
.hidden{
   display: none;
}

.contact{
   width:1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 550px);
    align-items: center;
    gap:50px;
    margin:0 auto;
    background-color:#f5f5f5;
   
}

.contact form{
   border-radius: 10px;
   border:3px solid black;
   padding:20px;
   max-width:400px;
   text-align: center;
}


.contact  form h3{
   font-size: 25px;
   text-transform: capitalize;
   margin-bottom: 10px;
   color:black;
}

.contact form .box{
   margin:10px 0;
   width: 100%;
   border:3px solid black;
   background-color: white;
   padding:12px 14px;
   font-size: 16px;
   color:black;
   border-radius: 5px;
}

.contact form textarea{
   height: 100px;
   border:5px solid black;
}


.contact table {
   border-radius: 30px;
   border:8px solid  #00241f;
   padding:10px;
   max-width:800px;
   background-color:#ccc;
  
}
.contact table td {
   padding:20px;
  text-align: left;
}
#user{
    background-color: #48b35a;
   
}
#admin{
    background-color: #88ae8f;
}
.about .flex{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .about .flex .image{
    flex:1 1 40rem;
 }
 
 .about .flex .image img{
    width: 100%;
 }
 
 .about .flex .content{
    flex:1 1 40rem;
    padding:2rem;
    background-color: var(--light-bg);
 }
 
 .about .flex .content h3{
    font-size: 3rem;
    color:var(--black);
    text-transform: uppercase;
 }
 
 .about .flex .content p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.7rem;
    color:var(--light-color);
 }
.message .box-container{
   max-width: 1200px;
   margin:0 auto;
   padding: 60px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 260px);
   gap: 7px;
   align-items: flex-start;
   justify-content: center;
}

.message .box-container .box{
    background-color: white;
    box-shadow: 0 0 30px 20px rgba(0,0,0,.1);
    border-radius: 20px;
    border: 5px solid rgb(45, 155, 43);;
    padding:20px;
    text-align: center;
    position: relative;
    height: 320px;
    width: 250px;
   
}
#rate{
    margin-left:20px;
}
.message .box-container .box p{
   padding-bottom: 15px;
   font-size: 20px;
   color:#000000;
   padding:10px 0;
   line-height: normal;
   
}
.contacts{
    width:800px;
    align-items: center;
    gap:50px;
    margin:0 auto;   
    padding:30px;
    background-color:#f5f5f5;  
}

.contacts form{
   border-radius: 10px;
   border:3px solid black;
   padding:20px;
   margin-left:100px;
   width:600px;
   text-align: center;
}
.contacts form h3{
   font-size: 25px;
   text-transform: capitalize;
   margin-bottom: 10px;
   color:black;
   font-weight: bold;
}

.contacts form .inputBox input[type="text"],textarea{
   margin:10px 0;
   width: 100%;
   border:3px solid black;
   background-color: white;
   padding:12px 14px;
   font-size: 16px;
   color:black;
   border-radius: 5px;
}

label{
 font-size: 20px;
}
.contacts form  #rate{
   margin-left: 40%;
}

 /* fooder page css */
 .footer{
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/2f.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;

 }
 .footer p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    color:white;
    
 }
 .footer .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:500px;
 }
 
 .footer .box-container .box h3{
    text-transform: uppercase;
    color:rgb(250, 250, 250);
    font-size: 20px;
    padding-bottom: 20px;
    text-align: left;
 }
 .footer .box-container .box h6{
    color:rgb(250, 250, 250);
    font-size: 15px;
    padding-bottom: 20px;
    text-align: center;
 }
 
 
 .footer .box-container .box p,
 .footer .box-container .box a{
    display: block;
    font-size:15px;
    color:white;
    padding:10px 0;
    text-align: left;
   
 }

 .footer .box-container .box .media a,
 .footer .box-container .box .media h3{
    text-align: center;
    margin-bottom: 30px;
    font-size:20px;
 }
 
 .footer .box-container .box p i,
 .footer .box-container .box a i{
    color:rgb(220, 232, 220);
    padding-right: 10px;
 }
 
 .footer .box-container .box a:hover{
    color:darkgreen;
    text-decoration: underline;
    font-weight: bold;
 }
 
#checkbox{
    text-align: left;
}
#head, h4{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}



@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .header .header-2 .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: white;
       border-top: 2px solid black;
       border-bottom: 1px solid black;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .header-2 .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .header-2 .flex .navbar a{
       display: block;
       font-size: 25px;
       margin:20px;
       float: none;
       
    }
 
    .home .content h3{
       font-size: 30px;
    }

    
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading h3{
       font-size: 35px;
    }
 
    .title{
       font-size: 30px;
    }
 
 }
